 /* ========= HEADER ========= */
.header-todo {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

/* ========= INPUT AREA ========= */
.input-div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1rem;
}

.task-input,
.date-input {
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #020617;
  color: #e5e7eb;
}

.task-input:focus,
.date-input:focus {
  outline: 2px solid #38bdf8;
}

.date-input{
  color-scheme: dark;
}

/* ========= ADD BUTTON ========= */
.add-btn {
  background: #38bdf8;
  color: #020617;
  padding: 0.6rem;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/* ========= LINK ========= */
.complete-task-page-link {
  text-align: right;
  font-size: 0.85rem;
  color: #38bdf8;
  cursor: pointer;
}

/* ========= TASK LIST ========= */
.display-task-area {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

/* ========= BUTTON COLORS ========= */
.edit-Button {
  background: #facc15;
  color: #020617;
}

.save-button {
  background: #22c55e;
  color: #020617;
}

.delete-button {
  background: #ef4444;
  color: #fff;
}

.complete-button {
  background: #38bdf8;
  color: #020617;
}

/* ========= DESKTOP ========= */
@media (min-width: 768px) {
  .input-div {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .task-input {
    flex: 2;
  }

  .date-input {
    flex: 1;
  }

  .add-btn {
    flex: 0.6;
  }
}